pkg/drivers/fmp/test_data/fmp_api_key
pkg/drivers/gemini/test_data/google_api_key
pkg/drivers/anthropic/test_data/anthropic_api_key
pkg/drivers/minimax/test_data/minimax_api_key
pkg/drivers/eodhd/test_data/eodhd_api_key
pkg/drivers/openai/test_data/openai_api_key
pkg/drivers/openai/test_data/openai_base_url
auris
!cmd/auris/

# Nix build artifacts
result
result-*
